BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

NamespaceIndentation: None

AccessModifierOffset: -4
IndentCaseLabels: true

BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false

AlignAfterOpenBracket: BlockIndent
AlignOperands: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

SortIncludes: true

BinPackArguments: false
BinPackParameters: false

EmptyLineBeforeAccessModifier: LogicalBlock

FixNamespaceComments: true

# clang-format version 18
AlwaysBreakTemplateDeclarations: Yes
# clang-format version 19
# BreakTemplateDeclarations: Yes
